
<div class="wrapper">
    <!-- <div class="sidebar" data-active-color="white" data-background-color="red" data-image="../assets/img/sidebar-1.jpg">
    <!-- <div class="sidebar" data-color="red" data-image=""> -       <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <div *ngIf="!isMap()">
            <footer-cmp></footer-cmp>
        </div>
    </div>-->
    <product-cmp></product-cmp>
</div>
